<section class="ftsk-gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="section-header">
          <h2>{{ .title }}<span>{{ .title_suffix }}</span></h2>
          {{ with .description }}<p>{{ . | markdownify }}</p>{{ end }}
        </div>
      </div>
    </div>
    <div class="ftsk-gallery-grid">
      {{ range .images }}
      <a href="{{ partial `url.html` .image_path }}" class="ftsk-gallery-item" {{ with .caption }}title="{{ . }}"{{ end }}>
        <img src="{{ partial `url.html` .image_path }}" alt="{{ with .caption }}{{ . }}{{ else }}galéria kép{{ end }}" loading="lazy" />
        {{ with .caption }}<span class="ftsk-gallery-caption">{{ . }}</span>{{ end }}
      </a>
      {{ end }}
    </div>
  </div>
</section>
