<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="utf-8">
    <title>Történelem kicsit másként</title>
    
    <link rel="stylesheet" href="assets/css/angular-multi-select.css">
    <link rel="stylesheet" href="assets/css/angular-carousel.css">
    <link rel="stylesheet" href="assets/css/vis.css">
    <link rel="stylesheet" href="assets/css/activity.css">
    <link rel="stylesheet" href="assets/css/ngDialog.min.css">
    <link rel="stylesheet" href="assets/css/ngDialog-theme-default.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <script src="assets/js/angular.js"></script>
    <script src="assets/js/angular-multi-select.js"></script>
    <script src="assets/js/angular-touch.js"></script>
    <script src="assets/js/angular-carousel.js"></script>
    <script src="assets/js/ngDialog.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/vis.js"></script>
    <script src="assets/js/main.js"></script>

    <script>

        var app = angular.module('myApp', ['multi-select', 'angular-carousel', 'ngDialog']);


        function filter_activity(current_activity, object_ids, filter_activities) {
            object_id = current_activity.ObjectId;

            var common = $.grep(filter_activities, function(element) {
                return $.inArray(element, current_activity.ActivityType) !== -1;
            });

            if (($.inArray(object_id, object_ids) != -1 || object_ids.length == 0) && (common.length > 0 || filter_activities.length == 0)) {
                return true;
            } else {
                return false;
            }
        }

        function MyCtrl($scope, $http, ngDialog) {
                $scope.actual = 1;
            
				$scope.next = function () {
                    setCookie('tutorial', '1', 365);
                    console.log('next ' + $scope.actual);
					ngDialog.closeAll();
                    if ($scope.actual >= 11) {
                        return;
                    }
                    $scope.actual += 1;
                    
                    ngDialog.open({
                        template: "tutorial/" +  $scope.actual + ".html",
                        scope :$scope,
                        className: 'ngdialog-theme-default ngdialog-theme-custom'
                    });
				};          
            
            $scope.checked_open = function() {
                if (!checkCookie('tutorial')) {
                    $scope.open();
                }
            }

            $scope.open = function () {
                $scope.actual = 1;
                ngDialog.open({
                    template: 'tutorial/1.html',
                    scope :$scope,
                    className: 'ngdialog-theme-default ngdialog-theme-custom'
                    
                });
            
            };

            var container = document.getElementById('visualization');

            $scope.carousel_index = 349;
            $scope.timeline = new vis.Timeline(container);
            // Keep legacy wheel handlers from swallowing ordinary page scrolling.
            function timelineWheel(event) {
                event.stopImmediatePropagation();
                if (!event.ctrlKey) return;
                event.preventDefault();
                var delta = event.deltaY;
                if (typeof delta !== 'number') {
                    delta = event.wheelDelta ? -event.wheelDelta : event.detail * 16;
                } else if (event.deltaMode === 1) {
                    delta *= 16;
                } else if (event.deltaMode === 2) {
                    delta *= container.clientHeight;
                }
                var range = $scope.timeline.getWindow();
                var interval = range.end.valueOf() - range.start.valueOf();
                var bounds = container.getBoundingClientRect();
                var fraction = Math.max(0, Math.min(1, (event.clientX - bounds.left) / bounds.width));
                var anchor = range.start.valueOf() + interval * fraction;
                var scale = Math.exp(Math.max(-100, Math.min(100, delta)) * 0.002);
                $scope.timeline.setWindow(
                    anchor - interval * scale * fraction,
                    anchor + interval * scale * (1 - fraction),
                    { animate: false }
                );
            }
            ['wheel', 'mousewheel', 'DOMMouseScroll'].forEach(function (type) {
                container.addEventListener(type, timelineWheel, { capture: true, passive: false });
            });
            $scope.timeline.on('select', function(properties) {
                //alert('selected items: ' + properties.items[0]);
                $scope.$apply(function() {
                    $scope.carousel_index = properties.items[0];
                });
            });

            //$scope.selected_activities = [];

            //$scope.selected_objects = []

            $scope.render_timeline = function(activities) {
                console.log('****************** render timeline called **************');
                timeline_activities = [];
                var included = 0;
                for (var i in activities) {
                    current_activity = activities[i];
                    area_id = $scope.data.caves[current_activity.ObjectId].area_id;
                    var common_activities = [];
                    if ($scope.selected_activity_type_names.length > 0) {
                        common_activities = $.grep($scope.selected_activity_type_names, function(element) {
                            return $.inArray(element, current_activity.ActivityType) !== -1;
                        });
                    } else {
                        common_activities = current_activity.ActivityType;
                    }

                    var n = {
                        'activity_id': current_activity.id,
                        'className': common_activities[0],
                        'type': 'point',
                        'id': included,
                        'content': current_activity.Name,
                        'start': current_activity.From
                    };
                    timeline_activities.push(n);
                    included += 1;
                }
                var items = new vis.DataSet(timeline_activities);

                // Configuration for the Timeline
                var options = {
                    'stack': true,
                    'min': '1000',
                    'max': '2025',
                    'start': '1995',
                    'showCurrentTime': false,
                    'zoomMin':'63072000000'
                };
                // Create a Timeline
                //timeline = new vis.Timeline(container, items, options);
                $scope.timeline.setItems(items);
                $scope.timeline.setOptions(options);

                console.log('Included timeline activities: ' + included + ' first activity is ' + JSON.stringify(timeline_activities[0]));
                
                            
                /**
                 * Move the timeline a given percentage to left or right
                 * @param {Number} percentage   For example 0.1 (left) or -0.1 (right)
                 */
                function move (percentage) {
                    var range = $scope.timeline.getWindow();
                    var interval = range.end - range.start;

                    $scope.timeline.setWindow({
                        start: range.start.valueOf() - interval * percentage,
                        end:   range.end.valueOf()   - interval * percentage
                    });
                }

                /**
                 * Zoom the timeline a given percentage in or out
                 * @param {Number} percentage   For example 0.1 (zoom out) or -0.1 (zoom in)
                 */
                function zoom (percentage) {
                    var range = $scope.timeline.getWindow();
                    var interval = range.end - range.start;

                    $scope.timeline.setWindow({
                        start: range.start.valueOf() - interval * percentage,
                        end:   range.end.valueOf()   + interval * percentage
                    });
                }

                // attach events to the navigation buttons
                document.getElementById('zoomIn').onclick    = function () { zoom(-0.2); };
                document.getElementById('zoomOut').onclick   = function () { zoom( 0.2); };
                document.getElementById('moveLeft').onclick  = function () { move(-0.2); };
                document.getElementById('moveRight').onclick = function () { move( 0.2); };
            }
            

            $scope.get_object_name = function(object_id) {
                return $scope.data.caves[object_id].name;
            }

            $scope.has_catalog_url = function(object_id) {
            
                if (typeof($scope.data.caves[object_id].catalog_url) !== 'undefined') {
                    return true;
                } else {
                    return false;
                }
            }
            
            $scope.has_wikipedia_url = function(object_id) {
            
                if (typeof($scope.data.caves[object_id].wikipedia_url) !== 'undefined') {
                    return true;
                } else {
                    return false;
                }
            }              

            $scope.open_catalog = function(object_id) {
                window.open($scope.data.caves[object_id].catalog_url);
            }

            $scope.open_wikipedia = function(object_id) {
                window.open($scope.data.caves[object_id].wikipedia_url);
            }
            
            $scope.translate_activity_types = function(data) {
                return translate_activity_types(data);
            }

            $scope.get_activities = function() {
                console.log('****************** get activites called **************');
                var _activites = []
                var included = 0;

                console.log('selected caves ' + $scope.selected_object_ids.length);
                console.log('selected activity types ' + $scope.selected_activity_type_names.length + ' example: ' + $scope.selected_activity_type_names[0]);
                for (var i in $scope.data["activities"]) {
                    current_activity = $scope.data["activities"][i];

                    if (filter_activity(current_activity, $scope.selected_object_ids, $scope.selected_activity_type_names)) {
                        var areas = $scope.data.caves[current_activity.ObjectId].areas.join('/');
                        //c = "<span \" class=\"item\"><div style=\"margin-left:40px;text-align:center;text-transform: uppercase;float:left;font-size:24px;\"><img style=\"width:140;height:140px;\"src=\"assets/img/activity/" + type[0] +".png\"><br>" + type.join(',') + "</div><h1>" + from + "</h1><h2>" + name + " " + areas + "</h2><div>" + desc +"</div></span>"
                        _activites.push(current_activity);
                        included += 1;
                    }

                }
                console.log('Function filtered ' + included + ' activites');
                return _activites;
            }
            
            $scope.refresh = function(force_click) {
                var activities = $scope.get_activities();
                
                $scope.activities = activities;
                console.log('set timeline index : ' + (activities.length - 1));
                $scope.render_timeline(activities);
                $scope.carousel_index = activities.length - 1;
                if (force_click) {
                    //$(".rn-carousel-control-prev").click();
                    //$(".rn-carousel-control-next").click();
                }
            }

            var httpRequest = $http({
                method: 'GET',
                url: './json/data.json'

            }).success(function(data, status) {
                document.getElementById('loading').style.display = 'none';
                $scope.data = data;
                var main_area = '';
                var sub_area = '';
                var ingroup = false;
                var insubgroup = false;
                var level = 0;
                var _names = [];
                var _activitie_types = [];
                var _object_ids = [];
                 
                for (var cave_id in data["caves"]) {
                    _object_ids.push(cave_id);
                    
                    area_id = data.caves[cave_id].area_id;
                    areas = data.areas[area_id];

                    var _main_area = areas[0];
                    var _sub_area = areas[1];

                    if (_main_area != main_area) {
                        main_area = _main_area;
                        for (i=0; i< level; i++) {
                            _names.push({multiSelectGroup: false});
                        }
                        _names.push({name: '<strong>' + main_area + '</strong>',  multiSelectGroup: true });
                        level = 1;
                    }

                    if (sub_area != _sub_area) {
                        sub_area = _sub_area;
                        if (level == 2) {
                            _names.push({multiSelectGroup: false});
                        }
                        _names.push({name: '<i>' + sub_area + '</i>',  multiSelectGroup: true });
                        level = 2;
                    }
                    
                    _names.push({
                        icon: '<img src=assets/img/activity/cave.png>',
                        name: data["caves"][cave_id].name,
                        ticked: true,
                        object_id: cave_id
                    });
                }
                console.log('names are');
                console.log(_names);
                
                for (var i=0; i< level; i++) {
                    _names.push({multiSelectGroup: false});
                }
                var disabled_types = ["protected", "map", "science"];

                for (var i in data["activity_types"]) {

                    _activitie_types.push({
                        icon: '<img src=assets/img/activity/' + data["activity_types"][i] + '.png>',
                        name: data["activity_types"][i],
                        translated_name: translate_activity_type(data["activity_types"][i]),
                        ticked: $.inArray(data["activity_types"][i], disabled_types) !== -1 ? false : true
                    });
                }

                $scope.selected_activity_type_names = data["activity_types"];
                
                $scope.selected_object_ids = _object_ids;
                console.log('Loaded cave ids ' + $scope.selected_object_ids.length + " example " + $scope.selected_object_ids[0]);
                $scope.names = _names;
                $scope.activity_types = _activitie_types;
                console.log('Loaded activity types from json ' + _activitie_types.length);

                $scope.refresh(false);

                $scope.$watch('carousel_index', function() {
                    //alert('carousel_index is ' + $scope.carousel_index);
                    console.log('carousel changed' + $scope.carousel_index);
                    $scope.timeline.setSelection($scope.carousel_index, {'focus':true, 'animate':2000});
                });

                $scope.$watch('selected_objects', function() {
                    console.log(new Date().getTime() + ' ++++++++++++++++++++++ update : selected objects ++++++++++++++++++++++++++');
                    if (typeof $scope.selected_objects !== 'undefined' && $scope.selected_objects.length > 0) {

                        var selected_object_ids = [];
                        for (var i in $scope.selected_objects) {
                            selected_object_ids.push($scope.selected_objects[i].object_id);
                        }
                        if ($(selected_object_ids).not($scope.selected_object_ids).length == 0 && $($scope.selected_object_ids).not(selected_object_ids).length == 0) {
                            console.log('same selected objects !!!!!!!!!');
                            return
                        }
                        console.log('not some objects');

                        $scope.selected_object_ids = selected_object_ids;

                        console.log('>> length of selected objects ' + $scope.selected_objects.length);
                        $scope.refresh(true);
                    }
                });


                $scope.$watch('selected_activities', function() {
                    console.log(new Date().getTime() + ' ++++++++++++++++++++++ update : selected activites ++++++++++++++++++++++++++');
                    if (typeof $scope.selected_activities !== 'undefined' && $scope.selected_activities.length > 0) {
                        selected_activity_type_names = [];
                        console.log('>> length of selected activties ' + $scope.selected_activities.length);
                        for (var i in $scope.selected_activities) {
                            selected_activity_type_names.push($scope.selected_activities[i].name);
                        }
                        if ($(selected_activity_type_names).not($scope.selected_activity_type_names).length == 0 && $($scope.selected_activity_type_names).not(selected_activity_type_names).length == 0) {
                            console.log('same selected activities !!!!!!!!!');
                            return
                        }
                        console.log('not some objects');
                        $scope.selected_activity_type_names = selected_activity_type_names;
                        $scope.refresh(true);
                    }
                });



            });
            
            
            $(document).keydown(function(e) {
                switch(e.which) {
                    case 37: // left
                        $scope.$apply(function() {
                            //$scope.carousel_index = properties.items[0];
                            $scope.carousel_index = $scope.carousel_index -1;
                        });
                    
                    break;

                    case 38: // up
                    break;

                    case 39: // right
                        $scope.$apply(function() {
                            //$scope.carousel_index = properties.items[0];
                            $scope.carousel_index = $scope.carousel_index + 1;
                        });                    
                    break;

                    case 40: // down
                    break;

                    default: return; // exit this handler for other keys
                }
                e.preventDefault(); // prevent the default action (scroll / move caret)
            });            
        }
    </script>
</head>

<body>

<div class="loading" id="loading">
Adatok betöltése...
</div>

    <div ng-app="myApp">
        <div ng-controller="MyCtrl" ng-init="checked_open()">

    <table>
    <tr>
    <td>
    Barlangok kiválasztása:
    <br>
    <div style="padding:10px; float:left;display:inline;" multi-select max-labels=2 input-model="names" output-model="selected_objects" orientation="horizontal" button-label="icon name" item-label="icon name" tick-property="ticked" group-property="multiSelectGroup">
    </div>
    </td>
    <td>
    Eseménytípusok kiválasztása:
    <br>
    <div style="padding:10px; float:left;display:inline;" multi-select max-labels=2 input-model="activity_types" output-model="selected_activities" orientation="horizontal" button-label="icon name" item-label="icon translated_name" tick-property="ticked">
    </div>
    </td>
    </tr>
    </table>
            <div class="carousel-demo">
                <ul rn-carousel rn-carousel-controls rn-carousel-index="carousel_index" rn-carousel-transition="zoom" class="names">
                    <li ng-repeat="activity in activities">
                        <div style="position:absolute;left:10px;top:10px;">#{{carousel_index + 1}}/{{activities.length}}</div>
                        <div style="margin-top:40px; margin-left:70px;text-align:center;text-transform: uppercase;float:left;font-size:24px;"><img style="width:140;height:140px;" ng-src="assets/img/activity/{{activity.ActivityType[0]}}.png"><br>{{translate_activity_types(activity.ActivityType).join(',')}}</div>
                        <div ng-if="has_catalog_url(activity.ObjectId)" ng-click="open_catalog(activity.ObjectId)" style="font-size:15px;font-family:purisa, 'comic sans', cursive;background-position: 0px 0px;background-repeat: no-repeat;background-size: 30px 30px;position:absolute;right:40px;top:20px;width:320px;height:40px;cursor:pointer;background-image: url('assets/img/catalog.png');">Országos barlangnyilvántartás</div>
                        <div ng-if="has_wikipedia_url(activity.ObjectId)" ng-click="open_wikipedia(activity.ObjectId)"  style="font-size:15px;font-family:purisa, 'comic sans', cursive;background-position: 0px 0px;background-repeat: no-repeat;background-size: 30px 30px;position:absolute;right:40px;top:60px;width:150px;height:40px;cursor:pointer;background-image: url('assets/img/wiki.png');">Wikipedia</div>
      
                        <div style="width:90%">
                            
                            <h2>{{ activity.From }}</h2>
                            <h3 ng-if="has_catalog_url(activity.ObjectId)" ng-click="open_catalog(activity.ObjectId)" style="cursor:pointer;">{{ get_object_name(activity.ObjectId) }}</h3>
                            <h3 ng-if="!has_catalog_url(activity.ObjectId)">{{ get_object_name(activity.ObjectId) }}</h3>
                            <div>{{ activity.Desc }}</div>
                            
                        </div>
                    </li>
                </ul>
            </div>
            <!--<input type="number" class="tiny" ng-model="carousel_index">-->
            <!--<div>{{carousel_index}}</div>-->

        
    
    
    <p>Az oldal görgetéséhez használd az egérgörgőt. Az idővonal nagyításához tartsd lenyomva a Ctrl billentyűt görgetés közben, vagy használd a gombokat. Az idővonal húzással mozgatható.</p>
    <div id="visualization" ng-cloak>
         <div class="vismenu">
            <input type="button" class="pure-button zoomin" id="zoomIn" value="Nagyítás"/>
            <input type="button" class="pure-button zoomout"  id="zoomOut" value="Kicsinyítés"/>
            <input type="button" class="pure-button moveleft"  id="moveRight" value="↤ Balra"/>
            <input type="button" class="pure-button moveright" id="moveLeft" value="Jobbra ↦"/>
        </div>    
    </div>
    
    
    <a href="#" style="margin:10px;border:1px solid black;" class="pure-button" ng-click="open()" class="demo">Oktató oldalak megnyitás</a>
    <strong>Ha szállás kell a Szigetközben, keresd a <a href="http://dunaturavendeghaz.hu" >DuNatura vendégházat</a> Dunakilitin, ahol minden barlangásznak kedvezmény jár!</strong>
    <div>Kérlek küldd el véleményedet/észrevételeidet/hibajelentéseidet a joe.meszaros[kukac]gmail[pont]com címre! Minden jog fenntartva? Mészáros József (Joe)</div>
    </div> <!-- controller-->
</div>

</body>

</html>