{{ $person := partial "person.html" . }}
{{ $name := $person.name }}
{{ with $person.nickname }}{{ $name = printf "%s (%s)" $name . }}{{ end }}
{{ if $person.id }}
{{ $initials := "" }}
{{ range first 2 (split $person.name " ") }}{{ $initials = printf "%s%s" $initials (substr . 0 1) }}{{ end }}
<button
   type="button"
   class="ftsk-turak-author ftsk-member-trigger"
   data-name="{{ $name }}"
   data-person-id="{{ $person.id }}"
   data-group=""
   data-role=""
   data-initials="{{ $initials | upper }}"
   data-avatar-color="{{ mod (len $person.name) 5 }}"
   {{ with $person.image }}data-image="{{ partial `url.html` . }}"{{ end }}
   {{ with $person.modal_image }}data-modal-image="{{ partial `url.html` . }}"{{ end }}
   {{ with $person.bio }}data-bio="{{ . }}"{{ end }}
><i class="ph ph-user-circle" aria-hidden="true"></i> {{ $name }}</button>
{{ partial "person-profile-contacts.html" $person }}
{{ else }}
<span class="ftsk-turak-author"><i class="ph ph-user-circle" aria-hidden="true"></i> {{ $name }}</span>
{{ end }}
