{{ $width := 100 }}
{{ $configured := .Params.featuredImg.width }}
{{ if ne $configured nil }}
  {{ if not (in (slice "int" "int64" "uint64" "float64" "float32") (printf "%T" $configured)) }}
    {{ errorf "%s: featuredImg.width must be a number from 10 to 100 (received %T)" .File.Path $configured }}
  {{ else if or (lt $configured 10) (gt $configured 100) }}
    {{ errorf "%s: featuredImg.width must be a number from 10 to 100" .File.Path }}
  {{ else }}
    {{ $width = $configured }}
  {{ end }}
{{ end }}
{{ with .Params.featuredImg.image_path }}
<div class="rounded-box mb-xxl-11 mb-8 ftsk-featured-image" style="width: {{ $width }}%; margin-left: auto; margin-right: auto;">
  <img src="{{ partial `url.html` . }}" class="w-100" alt="featured-image" />
</div>
{{ end }}
