    .vis.timeline.root {
      border: 2px solid purple;
      font-family:  purisa, 'comic sans', cursive;
      font-size: 12pt;
    }

  .vis.timeline .item {
      border-color: #F991A3;
      font-size: 8pt;

    }

    .vis.timeline .item.point.exploration {
      background-color: none;
      background-image: url("../img/activity/exploration.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 18px 18px;
    }


    .vis.timeline .item.dot.exploration {
      visibility: hidden;
    }

    .vis.timeline .item.point.map {
      background-color: none;
      background-image: url("../img/activity/map.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      
    }
   
    .vis.timeline .item.dot.map {
      visibility: hidden;
    }
    
    .vis.timeline .item.point.merge {
      background-color: none;
      background-image: url("../img/activity/merge.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 20px 26px;
      
    }
   
    .vis.timeline .item.dot.merge {
      visibility: hidden;
    }
  
    .vis.timeline .item.point.extend {
      background-color: none;
      background-image: url("../img/activity/extend.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 20px 26px;
      
    }
   
    .vis.timeline .item.dot.extend {
      visibility: hidden;
    }
    
    .vis.timeline .item.point.protected {
      background-color: none;
      background-image: url("../img/activity/protected.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 20px 26px;
      
    }
   
    .vis.timeline .item.dot.protected {
      visibility: hidden;
    }
    
    .vis.timeline .item.point.hidrology {
      background-color: none;
      background-image: url("../img/activity/hidrology.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      
    }
   
    .vis.timeline .item.dot.hidrology {
      visibility: hidden;
    }
    
    
    .vis.timeline .item.point.science {
      background-color: none;
      background-image: url("../img/activity/science.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      
    }
   
    .vis.timeline .item.dot.science {
      visibility: hidden;
    }   
    


    .vis.timeline .item.point.fauna {
      background-color: none;
      background-image: url("../img/activity/fauna.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      
    }
   
    .vis.timeline .item.dot.fauna {
      visibility: hidden;
    }  


    .vis.timeline .item.point.entrance {
      background-color: none;
      background-image: url("../img/activity/entrance.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      
    }
   
    .vis.timeline .item.dot.entrance {
      visibility: hidden;
    } 
    
    
    .vis.timeline .item.point.death {
      background-color: none;
      background-image: url("../img/activity/death.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      
    }
   
    .vis.timeline .item.dot.death {
      visibility: hidden;
    }   

    .vis.timeline .item.point.rescue {
      background-color: none;
      background-image: url("../img/activity/rescue.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      
    }
   
    .vis.timeline .item.dot.rescue {
      visibility: hidden;
    }
    
    .vis.timeline .item.point.diving {
      background-color: none;
      background-image: url("../img/activity/diving.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      
    }
   
    .vis.timeline .item.dot.diving {
      visibility: hidden;
    }
    
    .vis.timeline .item.point.info {
      background-color: none;
      background-image: url("../img/activity/info.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      
    }
   
    .vis.timeline .item.dot.tourist {
      visibility: hidden;
    }     

    
    .vis.timeline .item.point.tourist {
      background-color: none;
      background-image: url("../img/activity/tourist.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      
    }



    .vis.timeline .item.dot.visit {
      visibility: hidden;
    }     

    
    .vis.timeline .item.point.visit {
      background-color: none;
      background-image: url("../img/activity/visit.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      
    }

    .vis.timeline .item.dot.info {
      visibility: hidden;
    }

    .vis.timeline .item.point.climbing {
      background-color: none;
      background-image: url("../img/activity/climbing.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 24px 24px;
      
    }
   
    .vis.timeline .item.dot.climbing {
      visibility: hidden;
    }

    .vis.timeline .item.point.digging {
      background-color: none;
      background-image: url("../img/activity/digging.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      
    }
   
    .vis.timeline .item.dot.digging {
      visibility: hidden;
    }  
    
    .vis.timeline .item.point.sifon {
      background-color: none;
      background-image: url("../img/activity/sifon.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      
    }
   
    .vis.timeline .item.dot.sifon {
      visibility: hidden;
    }     
    
    
    .vis.timeline .item.point.paleo {
      background-color: none;
      background-image: url("../img/activity/paleo.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 25px 25px;
      
    }
   
    .vis.timeline .item.dot.paleo {
      visibility: hidden;
    }
    
    
    .vis.timeline .item.point.enter {
      background-color: none;
      background-image: url("../img/activity/enter.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 17px 20px;
      
    }
   
    .vis.timeline .item.dot.enter {
      visibility: hidden;
    } 
    
    
    .vis.timeline .item.point.reference {
      background-color: none;
      background-image: url("../img/activity/reference.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 24px 24px;
      
    }
   
    .vis.timeline .item.dot.reference {
      visibility: hidden;
    }
    
    .vis.timeline .item.point.discover {
      background-color: none;
      background-image: url("../img/activity/discover.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 17px 20px;
      
    }
   
    .vis.timeline .item.dot.search {
      visibility: hidden;
    } 

    .vis.timeline .item.point.healing {
      background-color: none;
      background-image: url("../img/activity/healing.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      
    }
   
    .vis.timeline .item.dot.healing {
      visibility: hidden;
    }
    
    
    .vis.timeline .item.point.closed {
      background-color: none;
      background-image: url("../img/activity/closed.png");
      background-position: 0px 4px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      
    }
   
    .vis.timeline .item.dot.closed {
      visibility: hidden;
    } 